*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-color: whitesmoke;
}

.headcontent{
    width: 100%;
}

.headcontent h2{
    background-color: black;
    padding: 5px;
}

.headcontent h2 a{
    color: white;
    font-size:15px;
}

/* The three subheader */
.subheadcontent{
    display: flex;
    justify-content: space-between;
    margin: 60px 20px;
    font-weight: 600;
    font-size:13px;
}

.subheadcontent a{
    color: black;
}

/* the main header of the three subheader */

.account-details{
    background: orange;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: -10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

/* Main Page Content */

.container{
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    width:30%;
    margin: 50px auto;
}


.form-group{
    margin: 35px 0;
    padding: 10px;
}

.form-label{
    display: block;
    margin-bottom: 5px;
    font-size:13px;
}

.form-control{
    width: 95%;
    padding: 10px;
    border: 1px solid black;
}

input[type="submit"]{
    border:none;
    transition:.5s ease-in-out;
}

input[type="submit"]:hover{
    transform:scale(1.1);
}

.form-group:last-child{
    text-align: center;
}

.submit{
    background-color: skyblue;
    color: white;
    padding: 10px;
    font-size: 20px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid black;
}


@media only screen and (max-width: 1024px) {
    /* Main Page Content */

    .container{
        margin: 50px auto;
        padding: 10px;
        width:40%;
    }
}


@media only screen and (max-width: 640px) {
    /* Main Page Content */

    .container{
        width:80%;
        margin: 50px auto;
        padding: 10px;
    }
}

@media only screen and (max-width: 425px) {
    /* Stylying The Three Subheader and Content in the Main Page Content  */

    .subheadcontent,.form-label,.submit {
        font-size: 12px;
    }

}

@media only screen and (max-width: 375px) {
    /* The Three Subheader */

    .subheadcontent {
        font-size: 10px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (max-width: 320px) {
    /* The Three Subheader */

    .subheadcontent {
        font-size: 8px;
    }
}

@media only screen and (max-width: 280px) {

    /* Top Of the page */

    h2{
        font-size: 20px;
    }

    /* Main Page Content */
    
    .form-control,.form-label,.checklabel{
        font-size: 12px;
    }

    
}
