*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background: whitesmoke;
    font-family: Avenir Next, Avenir, SegoeUI, sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.con{
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 200px;
}

h2{
    padding: 10px;
    background-color: black;
    margin-bottom: 30px;
}

h2 a{
    color: white;
    font-size: 15px;
}

.company{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.name{
    font-size:25px;
}

.img{
    display: flex;
    margin-top: -20px;
    opacity: 0.5;
}

.img .secure_text{
    padding-top: 30px;
}

.DPS{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    font-size: 14px;
}

.DPS .D{
    background: orange;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 20px;
    margin-top: -5px;
}



.AD header {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid gray;
}

.AD .addD p{    
    margin: 10px;
    font-size: 12px;
}

form label {
    font-size: 12px;
}

.DDl{
    margin-left: 15px;
    font-size: 13px;
}

.DM{
    margin:20px 0;
}

.DM_button a{
    font-size: 12px;
    color: black;
}

.DM_button {
    border: none;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
    padding: 5px;
    margin-top: 15px;
}

.DM_button:hover{
    margin-left: 15px;
    transform: scale(1.1);
}

.feetotal .it{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 10px;
}

.it p:nth-child(2){
    color: orange;
    font-weight: bold;
}

.nac{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.nac .btn{
    width: 450px;
    padding: 10px;
    border-radius: 10px;
    background: orange;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: none;
    transition: all 0.5s ease-in-out;
}

.nac .btn:hover{
    transform: scale(1.1);
}

.nac .btn a{
    color: white;
    font-size: 15px;
    font-weight: 500;
}


footer{
    background: black;
    margin-bottom: 0; 
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}


@media only screen and (max-width: 768px) {
    .nac .btn{
        width: 350px;
    }

    .img img{
        width: 50px;
        margin-top: 12px;
    }

    .img .secure_text{
        font-size: 12px;
    }

    .name{
        margin-top: 12px;
        font-size: 17px;
    }

    .nac .btn{
        width: 200px;
    }

    .DPS{
        font-size: 10px;
    }
    
    .addr{
        font-size: 10px;
    }

    .DD,form label,.DDl,.DM_button a,.AD .addD p,.it p,.nac .btn a{
        font-size: 10px;
    }

    footer{
        font-size: 10px;
    }
    
}

@media only screen and (max-width: 320px) {
    .DPS{
        justify-content: space-between;
        gap: 35px;
        margin-left: 0;
    }

}

@media only screen and (max-width: 240px) {

    .con{
        border-radius: 0;
    }
    
    .img img{
        width: 30px;
        margin-top: 19px;
    }

    .img .secure_text{
        font-size: 10px;
    }

    .name{
        margin-top: 10px;
        font-size: 13px;
    }

    .DPS{
        gap: 30px;
    }
    
    .addr{
        font-size: 10px;
    }

    .AD .addD p{
        font-size: 10px;
    }

    .nac .btn{
        width: 150px;
        padding: 5px;
        margin-top: 10px;
    }

    .nac .btn a{
        font-size: 10px;
    }
    
    footer {
        font-size: 10px;
    }
}

